* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: Font_LABEL;
    color: #000;
    text-align: inherit;
}

.modal a {
    text-decoration: none;
    color: #fff;
}

.modal .container .close {
    position: absolute;
    right: 50px;
    top: 25px;
    font-size: 50px;
    color: #aaa;
}

.modal a:active {
    transform: scale(0.95);
}

.modal.opaque {
    background: #fff;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.avatar-large {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.avatar-small {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.tab {
    text-align: center;
    font-size: 12px;
    color: #666;
}

.tab.active {
    color: #FFC13F;
}

.btn {
    background: linear-gradient(180deg, #70A1FF 0%, #5D8EEC 100%);
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn.outline {
    background: #fff;
    border: 1px solid #70A1FF;
    text-shadow: none;
    color: #70A1FF;
}

.btn.outline.grey {
    border: 1px solid #ddd;
    text-shadow: none;
    color: #aaa;
}

.btn.grey {
    background: #fff;
    border: none;
    text-shadow: none;
    color: #aaa;
}

.btn.disabled {
    background: #ccc;
}

.btn:active,
.close:active {
    background-position: right center;
    transform: scale(0.95);
}

.sep10 {
    padding: 10px 0 0 0;
}

video.friend-match {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    background: rgba(0, 0, 0, 0.6);
}

.modal h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 10px 0;
}

.modal .header {
    height: 50px;
    background: linear-gradient(180deg, #70A1FF 0%, #5D8EEC 100%);
    color: #fff;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .header .close {
    position: absolute;
    right: 25px;
    top: 5px;
    font-size: 30px;
    color: #fff;
}

.modal p {
    margin: 0 0 5px 0;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    z-index: 3;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.loader {
    margin: 0 auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 5px solid rgba(255, 255, 255, 0.2);
    border-right: 5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 5px solid rgba(255, 255, 255, 0.2);
    border-left: 5px solid #ffffff;
    transform: translateZ(0);
    animation: loader 1.1s infinite linear;
}

.loader.dark {
    border-top-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal .row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal .scrollable {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.modal .container .scrollable {
    padding: 15px 15px 5px 15px;
}

.modal .container {
    width: 80%;
    max-height: 80%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modal .btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 60px;
    padding: 0 10px;
}

.modal .btns .spacer {
    width: 10px;
}

.modal .btns .btn {
    padding: 0;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    flex: 1;
    margin: 0 10px 0 0;
}

.modal .btns .btn:last-child {
    margin: 0;
}

.modal .btn {
    padding: 0;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tabs a {
    flex: 1;
    color: #333;
    text-align: center;
    background: #eee;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.tabs a.active {
    color: #fff;
    background: #FFC13F;
}

.text-right {
    text-align: right;
}

.text-s {
    font-size: 12px;
}

.text-xl {
    font-size: 24px;
}

.text-l {
    font-size: 20px;
}

.text-center {
    text-align: center;
}

.text-light {
    font-family: Regular_LABEL;
}

.text-desc {
    color: #999;
}

.border-top {
    border-top: 0.5px solid #ddd;
}

.row .box {
    flex: 1;
}

.box {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.match-player {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}

.row .spacer {
    width: 10px;
}

.row .right {
    flex: 1;
    text-align: right;
}

.toast {
    font-family: Font_LABEL;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: absolute;
    width: 95%;
    margin: 2.5%;
    padding: 10px;
    border-radius: 5px;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.progress {
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    background: #eee;
}

.progress .fill {
    height: 10px;
    border-radius: 5px;
    background: #FFC13F;
}

.green {
    color: #2ecc71;
}

.red {
    color: #e74c3c;
}

.orange {
    color: #FFC13F;
}

.purple {
    color: #9b59b6;
}

.blue {
    color: #3498db;
}

.btn-debug {
    background: #e74c3c;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    flex: 1;
    padding: 5px 10px;
    text-align: center;
}

.warning {
    background: #e74c3c;
    color: #fff;
}

.btn-col {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.tutorial {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 4;
}

.tutorial-element {
    z-index: 5;
}

@keyframes tutorial {
    0% {
        margin-top: 20px;
    }

    75% {
        margin-top: 0;
    }

    100% {
        margin-top: 20px;
    }
}

.tutorial .arrow {
    z-index: 6;
    color: #fff;
    position: absolute;
    animation: 1s infinite tutorial;
}

.tutorial .dialog {
    font-family: Regular_LABEL;
    background: #fff;
    color: #333;
    position: absolute;
    width: 95%;
    margin: 2.5%;
    bottom: 2.5%;
    padding: 20px;
    border-radius: 5px;
    animation: fadein 0.5s;
    font-size: 14px;
}

.dialog .business-man {
    position: absolute;
    top: -113px;
    left: 20px;
    height: 113px;
}

.table {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Regular_LABEL;
    font-size: 14px;
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.table>div:nth-child(2) {
    flex: 1;
    text-align: right;
    color: #999;
}

table.lb {
    width: 100%;
}