* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: Font_LABEL;
    color: #fff;
    text-align: inherit;
}

.top {
    height: 50px;
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, #6c5ce7 0%, #5747d3 100%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.top > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.top > div:first-child {
    padding: 0 0 0 10px;
    justify-content: flex-start;
}

.top > div:last-child {
    padding: 0 10px 0 0;
    justify-content: flex-end;
}

.bottom {
    height: 25%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #636e72ef;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.bottom > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.btn {
    background: linear-gradient(180deg, #70a1ff 0%, #5d8eec 100%);
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.scrollable {
    flex: 1;
    overflow-y: auto;
}

h2 {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

.log-item {
    padding: 5px 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.policy {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.sep {
    padding-top: 10px;
}

.toast {
    position: absolute;
    border-radius: 5px;
    top: 60px;
    right: 10px;
    max-width: 25%;
    color: #333;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    word-break: break-all;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.green {
    color: #00cec9;
}
